.point-counter {
  margin-left: 8px;
}

.profile {
  margin-top: 16px;
}

.profile__name {
  margin-top: 8px;
  margin-bottom: 8px;
}
.SimpleCell .Avatar__shadow {
  box-shadow: none !important;
}

.SimpleCell .Avatar__img {
  border-radius: 0 !important;
  background: none !important;
}

.profile__invite {
  margin: 8px 0;
}

.profile__invite .SimpleCell__description {
  white-space: normal;
}

.declined-indicator {
  display: inline-block;
  background: var(--button_secondary_destructive_foreground) !important;
}

.prize {
  position: relative;
  background-color: white;
}

.prize__photo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
}

.prize__description {
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: black;
}
