.description {
  margin: 8px 0;
}

.custom-form.FormLayout--ios .FormLayout__row-top {
  padding-left: unset !important;
  padding-right: unset !important;
}

.custom-form.FormLayout--ios .FormLayout__row .FormField {
  margin: unset;
}
