.description {
  margin: 8px 0;
}

.custom-form.FormLayout--ios .FormLayout__row-top {
  padding-left: unset !important;
  padding-right: unset !important;
}

.custom-form.FormLayout--ios .FormLayout__row .FormField {
  margin: unset;
}

.comment {
  color: red;
}

.question {
  margin-top: 56px;
  margin-bottom: 56px;
}
.test-start-button {
  margin-top: 16px;
}

.answerCard {
  border-radius: 6px;
  border: 1px solid rgb(83, 83, 83);
  margin: 8px 0;
}

.answerCard--IsChosen {
  border: 1px solid rgb(101, 223, 64) !important;
}
