.d-row {
  display: flex;
}

.d-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
.justify-center {
  justify-content: center;
}

.emoji-placeholder {
  width: 64px;
}

.Snackbar {
  z-index: 100 !important;
  position: absolute;
}
.vkuiPlaceholder--stretched {
  top: 50vh;
  bottom: 50vh;
}
#modal_MANAGE_TEAM .vkuiIconButton {
  height: 24px;
}

#modal_TEST .vkuiFormItem,
#modal_CREATE_TEAM .vkuiFormItem,
#modal_about .vkuiFormItem {
  padding: 12px 0;
}
