.d-row {
  display: flex;
}

.d-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
.justify-center {
  justify-content: center;
}
